[submodule "Morimens/images"]
	path = Morimens/images
	url = git@github.com:C-W-Z/STS2-Morimens-images.git
[submodule "Morimens/fmod"]
	path = Morimens/fmod
	url = git@github.com:C-W-Z/STS2-Morimens-fmod.git
